{{> head }}

{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Página del {{getCurso}}: usando express y hbs</h1>
    <h2>Creada por {{autor}} en {{getAnio}}</h2>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis beatae ut blanditiis similique ea sed debitis
      quidem hic, molestiae reiciendis animi consectetur provident vero dolores atque fugit sequi in eius!</h4>
  </div>

  <div class="col-4 imglink">
    <a href="about">
      <img src="assets/img/img01.png" class="img-rounded crop" alt="Cinque Terre">
    </a>
  </div>
</div>

{{> footer }}